<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kenji1947.realmfit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".App">

        <activity android:name=".ToJsonActivity">

        </activity>

        <activity android:name=".DummyActivity">
        </activity>


        <activity android:name=".scr_ex_catalog.ExCatalogActivity">
        </activity>


        <activity android:name=".scr_plan_catalog.PlanCatalogActivity3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity android:name=".scr_plan_create.CreatePlanActivity">

        </activity>


        <activity android:name=".scr_plan_catalog.PlanCatalogActivity">
        </activity>


        <activity android:name=".scr_ex_detail.ExDetailActivity"></activity>


        <activity android:name=".MainActivity">

        </activity>


        <activity android:name=".RealmTestActivity">
        </activity>


        <activity android:name=".RealmTestActivity2">
        </activity>


        <activity android:name=".RealmListenersActivity">
        </activity>
    </application>

</manifest>